*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.navbar{
    display: flex;
    position:fixed;
    z-index: 1000;
    width:100%;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 0px 20px 0px;
    text-align: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.5);
        white-space: nowrap;
        height:10vh;
}
.nav li {
    display: inline-flex;
    padding:1.2rem;
    font-size: 16px
}
.nav li:hover{
    background-color: grey;
}

.nav li a {
    text-decoration: none;
    color: white;
    margin: 0;
  
}
#home{
    position: relative;
    font-size: 30;
    color:black;
    text-align: center;
    height: 100vh;
    width:100%;
    background-color: rgb(35,35,35);
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url(./images/fotis-fotopoulos-DuHKoV44prg-unsplash.jpg);
    background-size: cover;
}
.name{
    position:absolute;
    justify-content: center;
    text-align: center;
    color:white;
    left:30vw;
    font-size: 2.8rem;
    line-height:3.5rem;
 
}
.name {
    padding:10px 20px;
    background:black;
    font-size:35px;
    font-family:monospace;
    border-radius:50px;
  }
  .name p{
    margin:0px;
    white-space:nowrap;
    overflow:hidden;
    animation:typing 4s steps(22,end) forwards,
              blink 1s infinite;
  }
  @keyframes typing {
    0% { width:0% }
    100% { width:100% }
  }
  @keyframes blink {
    0%,100% {
      border-right:2px solid transparent;
    }
    50% {
      border-right:2px solid #222;
    }
  }
.left{
    position: relative;
}
.left .gif{
    position:absolute;
    border-radius: 20%;
    height:30vw;
    width:30vw;
    left:10vw;
    top: -25vh;
}
.aboutme{
    height:65vh;
    background-color: lavenderblush;
}
.aboutme p{
    line-height:2rem;
    margin:1%;
text-align: center;
font-size: 1.8rem;
}
.about{
    text-align: center;  
    padding: 1rem;
    font-size: 4rem;
    color:tomato;
}
.skillshead{
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 4rem;
    color:tomato;
}
.Skills{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20rem;
    position:relative;
}
.image{
    height:11rem;
    width:11rem;
}
.contacts{
    background-color: black;
    height:10vh;
    display:flex;
    flex:wrap;
    justify-content: space-around; 
    text-align: center;
     align-items: center;
     color:white;
}
.contacts a{
    top:1%;
    color: white;

}
.contacts .fab{
    display: inline-flex;
    flex-wrap:wrap;
    align-items: center;
    font-size: 3rem;
    justify-content: center;
align-items: center;
}
@media only screen and (max-width:814px)
{
    .aboutme p{
        font-size: 1rem;
    }
}
@media only screen and (max-width:720px) {
    .image{
        width:8rem;
    }
@media only screen and (max-width:630px)
{.about{
    font-size:2rem ;
}
.skillshead{
    font-size:2rem ;
}
    .aboutme p{
        font-size: 1rem;
    }

@media only screen and (max-width: 552px){
    .aboutme{
        height:50vh;
    }
    .aboutme p{
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
    .Skills{
        flex-direction: column;
        height:80vh;
    }
    .nav{
        align-items: center;
    }
    .left .gif{
        visibility: hidden;
    }
       .image{
           height:8rem;
       }
    
}
@media only screen and (max-width:370px)
{
    .skills{
    height:40rem;
    }
    .aboutme p{
        font-size: 0.8rem;
        line-height:1.2rem;
    }
    .contacts .fab{
        font-size: 1rem;
        
    }

}